# Dependencies
/node_modules
/frontend/node_modules

# Environment variables
.env
/frontend/.env

# Build folder
/frontend/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store